<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>TraveService</display-name>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <servlet>
  	<description>JAX-WS endpoint - AttractionsService</description>
  	<display-name>AttractionsService</display-name>
  	<servlet-name>AttractionsService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<description>JAX-WS endpoint - WeatherService</description>
  	<display-name>WeatherService</display-name>
  	<servlet-name>WeatherService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WeatherService</servlet-name>
  	<url-pattern>/WeatherPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttractionsService</servlet-name>
  	<url-pattern>/AttractionsPort</url-pattern>
  </servlet-mapping>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener></web-app>